
.problem-title{
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

.problem-input-title{
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: large;
}

table tr td{
    font-size: 12px;
}

table th{
    font-size: 13px;
}
tr td{
    padding-left: 40px;
}