
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {font-size: 15px;}

@font-face {
  font-family: 'LordOfRings';
  src: local('LordOfRings'), url('assets/ringbearer-font/RingbearerMedium-51mgZ.ttf') format('opentype');
  font-size: 25px;
  font-weight: bold;
}

/* Override link styles */
a {
  color: midnightblue;
  text-decoration: none;
}
p {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  font-size: 14px;
  color: rgba(0,0,0,.88);
  word-break: break-word;
}
